<section id="comments" style="margin-top: 4rem;">
<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.giscus.repo }}"
        data-repo-id="{{ .Site.Params.giscus.repo_id }}"
        data-category="{{ .Site.Params.giscus.category }}"
        data-category-id="{{ .Site.Params.giscus.category_id }}"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-input-position="bottom"
        data-theme="{{ printf "%sgiscus.css" .Site.BaseURL }}"
        crossorigin="anonymous"
        async>
</script>
</section>
